/*
Colors:
    #8ECAE6 pale blue
    #219EBC blue
    #023047 dark blue
    #FFB703 yelow
    #FB8500 orange
*/

/* GLOBAL STYLES
------------------*/

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #8ECAE6;
    margin: 0px;
    font-family: "Montserrat", serif;
}
h1, h2, h3{
    /* font-family: "Abril Fatface", serif; */
}
/* link styles */
a {
    color: #FFB703;
}
a:hover {
    color: #FB8500;
    text-decoration: none;
}
.btn {
    background: #FFB703;
    color: #023047;
    border-radius: 7px;
    text-decoration-line: none;
    padding-left: 2px;
    padding-right: 4px;
}
.download-link {
    position: fixed;
    bottom: 20px;
    right: 15px;

}

.content-wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
}

/* HOME
------------------*/
.home {
    background: url(../images/cosmos-rawpixel-scaled.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    padding: 25px;
    flex: 1 0 auto;
}

.content-bg {
    background: #219dbcc2;
    padding: 30px;
}

.home h1::first-letter{
    color: #219EBC;
    padding-left: 1%
}


/* RESUME
------------------*/
.resume header::before {
    background: url(../images/cosmos-rawpixel-scaled.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #FFB703;
}


/* Profile
------------------*/


/* Projects
------------------*/
.project-container {
    display: flex;
    padding: 20px;
}
.project-item {
    flex: 1 1 auto;
}
.project-item h3 {
    margin-top: 0%;
}
.project-container img {
   width: 300px;
   margin-right: 20px;
}


/* Work exp
------------------*/
.work-item{
     display: grid;
     grid-template-columns: 300px 1fr;
     column-gap: 20px;
}

/* Education
------------------*/

/* FOOTER
------------------*/
footer {
    background: #222222;
    color: #8ECAE6;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
    height: 32px;
}
.socials img:hover{
    opacity: 0.6;
}


/* IDs
------------------*/

#my_name {
    color:#023047;
    background:#FFB703;
}


.large-text{
    font-size: 26px;
}
.button {
    background: #FFB703;
    color: #023047;
    border-radius: 10px;
}

.button.large-text{
    font-weight: bold;
}